@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
:root {
  --primairy-color: rgb(238, 242, 245);
  --secondary-color: rgb(0, 81, 255);
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
