.content {
  width: 80%;
}

.header {
  width: 100%;
  background: rgba(4, 130, 200, 1);
  background: linear-gradient(
    37deg,
    rgba(4, 130, 200, 1) 0%,
    rgba(45, 245, 253, 1) 100%
  );
  height: 10%;
  color: white;
  justify-content: center;
}
.headertext {
  margin: 0;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.rooms {
  list-style: none;
}
.room {
  margin: 1.5em;
  height: 3em;
  color: white;
  background-color: rgb(100, 195, 247);
  background: linear-gradient(
    37deg,
    rgba(4, 130, 200, 1) 0%,
    rgb(22, 194, 224) 100%
  );
  border-radius: 10px;
  padding: 0.3em;
  cursor: pointer;
}
.room p {
}
.chatRoom {
  display: flex;
  width: 100%;
  height: 90%;
}

.usersList {
  padding: 0.5em;
  width: 30%;
  background-color: rgb(37, 148, 199);
  margin: 0;
  color: white;
  list-style: none;
  font-size: 1.5em;
}
.username {
}
.chatArea {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}
.messages {
  width: 100%;
  height: 90%;
  background-color: white;
  margin: 0;
  list-style: none;
  padding: 0;
}

.message {
  margin: 0.5em;
  color: white;
  background-color: rgb(0, 115, 255);
  font-size: 1em;
  border-radius: 10px;
  padding: 0.3em;
}
.messageText {
  font-size: 1.2em;
}

.inputform {
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.textInput {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}
